:root{
    ---main-c:#c1afe4;
    ---border-r:1.2rem;
}

/** Estilos Generales**/

html *{
   margin: 0;
   padding: 0; 
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    font-size: 1.1rem;
}

a{
    text-decoration: none;
}

ul, li{
    list-style: none
}

.wrap-cta{
    display: flex;
    justify-content: center;
}
.cta-a{
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: var(---main-c);
    padding: 0.5rem 1rem;
    border-radius: var(---border-r);
    box-shadow: 1px 1px 5px 3px #c1afe4;

}
.cta-a:hover{
    background:#fff;
    color:#1AAB8A;
}
.cta-a:before,:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
}
.cta-a:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.cta-a:hover:before,.cta-a:hover:after{
    width:100%;
    transition:800ms ease all;
}
button {
    font-size: 1.2em;
    padding: 0.6em 0.8em;
    border-radius: 0.5em;
    border: none;
    background-color:var(---main-c);
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 5px 3px #c1afe4;
    display: flex;
    font-family: cursive;
    
  }
  
  .container {
    position: relative;
    padding: 3px;
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    border-radius: 0.9em;
    transition: all 0.4s ease;
    margin-left: 40%;
    margin-right: 42.5%;
    margin-top: 5%;
    margin-bottom: -5%;
    
  }
  .container-2 {
    position: relative;
    padding: 3px;
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    border-radius: 0.9em;
    transition: all 0.4s ease;
    margin-left: 40%;
    margin-right: 44.2%;
    
  }
  
  .container::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 0.9em;
    z-index: -10;
    filter: blur(0);
    transition: filter 0.4s ease;
  }
  .container-2::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 0.9em;
    z-index: -10;
    filter: blur(0);
    transition: filter 0.4s ease;
  }
  
  .container:hover::before {
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    filter: blur(1.2em);
  }
  .container-2:hover::before {
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    filter: blur(1.2em);
  }
  .container:active::before {
    filter: blur(0.2em);
  }
  .container-2:active::before {
    filter: blur(0.2em);
  }
  
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 2.2 rem;
}

body{
    height: 100vh;
    box-sizing: border-box;
}
strong{
    color: var(---main-c);
    font-family: cursive;
}

/** Header**/

/**.header-landing{
    display: flex;
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    padding: 0.25rem;
    margin: 3%;
    border-radius: var(---border-r);
}
.wrap-logo{
    max-width: 35px;
    height: 30%;
    width: 30%;
}
.imagen-logo{
    border-radius: var(---border-r);
}
/** navegacion**/
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 10px;
    left: 2%;
    right: 5%;
    font-weight: bold;
    box-shadow: 1px 1px 5px 3px #c1afe4;
    border-radius: var(---border-r);
    position: fixed;
    width: 100%;
    background-color: #fff;
  
}
.wrap-logo:hover {
    transform: translateY(-4px);
  }
.menu:hover {
    transform: translateY(-4px);
  }
ul li{
    display: inline-block;
    padding: 0px 20px;
    align-items: center;
  
}

/** hero section **/

.hero-section{
    display: flex;
    justify-content: space-between;
    height: 80vh;
    width: 100%;
    margin-bottom: 8%;
    margin-top: 3%;
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    border-radius: var(---border-r);
}

.wrap-hero-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin: 5%;
    background: linear-gradient(90deg, #03a9f4, #f441a5);
}
.wrap-hero-section h1{
    margin-bottom: 1%;
    margin-top: 8.5%;
    font-family: cursive;
}
.wrap-hero-section p{
    font-size: 20px;
    margin-bottom: 0%;
    font-family: cursive;
}
.wrap-hero-section small{
    font-size: 16px;
    padding: 0%;
    margin-right: 75%;
}
b{
    font-family: cursive; 
}
    
.imagen-hero{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    padding-right: 10%;
}
.wrap-imagen-hero{
    display: flex;
    width: 250px;
    border-radius: var(---border-r);
    margin: 10%;
    box-shadow: 1px 1px 5px 3px #c1afe4;
    margin-top: 25%;
      
}
.wrap-imagen-hero:hover {
    transform: translateY(-4px);
  }
.llamada-accion{
    margin-left: 10%;
    margin-right: 10%;
}

/** wrap title**/
.wrap-title-section{
    display: flex;
    justify-content: center;
    margin: 3remm 1rem;
}
/** blog**/
.wrap-blog{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    
}
.wrap-blog p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-left: 4%;
    margin-top: 0%;
    margin-bottom: 5%;
}
.wrap-blog h3{
    margin-top: 5%;
    font-size: 30px;
}
.box{
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 1px 1px 5px 3px #c1afe4;
    border-radius: var(---border-r);
    background-color: rgba(0, 255, 255, 0.096);
}
.box h3{
    margin-left: 2%;
    margin-bottom: 7%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box p{
    margin-bottom: 4%;
    margin-left: 5%;
    margin-right: 8%;
}
.box-img{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    width: 20%;
    border-radius: var(---border-r);
    box-shadow: 1px 1px 5px 3px #c1afe4;

}


/** footer servicios section**/
.section{
    background-color: #c1afe43d;
    border-radius: var(---border-r);
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(23, 63, 50);
    flex-direction: column;
}
.card {
    width: 95%;
    height: fit-content;
    background-color: rgba(23, 214, 228, 0.336);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: var(---border-r);
  }
.card p{
    font-size: 25px;
    font-family: cursive;
}
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
    border-radius: var(---border-r);
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

 .footer-creds{
    margin-bottom: 5%;
 }

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    body{
        box-sizing: border-box;
    }
    .container, .container-2 {
        margin-left: 10%;
        margin-right: 10%;
    }
    .container,.container-2{
        margin-right: 60%;
    }

    nav ul li {
        padding: 0 10px;
        width: 15%;
        position: relative;
    }

    .wrap-hero-section h1 {
        font-size: 1rem;
        margin-top: 20%;
        margin-bottom: -5;
    
    }

    .wrap-hero-section p {
        font-size: 0.8rem;
        margin-top: 0%;
        margin-bottom: 50%;
    }
    .wrap-hero-section {
        box-sizing: border-box;
    }

   

    .hero-section {
        margin-top: 20%;
        height: 30%;
        padding: 0;
        background-origin: padding-box;
        display: flex;
        flex-direction: row;
        padding: 0rem;
        
    }

    .wrap-imagen-hero {
        width: 60%;
        margin: 0;
        margin-bottom: 20%;
        height: 400%;
        margin-left: 60%;
        margin-top: 20%;
    }
    .wrap-hero-section small {
        font-size: 0rem;
        
    }

    .box {
        flex-direction: column;
        padding: 1rem;
    }

    .box h3 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    .box p {
        font-size: 0.9rem;
        margin: 0.5rem 0;
    }
    .box img {
        width: 60%;
    }

    .wrap-title-section {
        margin: 1rem;
    }

    .section {
        padding: 1rem;
    }

    .card {
        padding: 1rem;
    }

    .wrap-blog {
        margin: 5% 1%;
    }

    .socialContainer {
        width: 40px;
        height: 40px;
    }

    .socialSvg {
        width: 15px;
    }

    .footer-creds {
        margin-bottom: 5%;
    }
}
  


